<!DOCTYPE html>
{%extends 'main.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block main%}
    <h1>Tech Park</h1>
    <ul>
        <li>Founder Name: {{name}}</li>
        <li>Address : {{add}}</li>
    </ul>
    <hr>
    <hr>
    <img src="{% static 'Assets/CT-1.jpg' %}" alt="logo">

    <hr color="red">

    <center>
        <h1>Arithmetic operations</h1>
        <form action="result" method="post">
            {% csrf_token%}
            <input type="number" name="n1" placeholder="Enter Number1">
    
            <select name="operator">
                <option value="+" selected>+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
                <option value="**">**</option>
                <option value="%">%</option>
            </select>
    
            <input type="number" name="n2" placeholder="Enter Number 2">
    
            <input type="submit" value="Result">
        </form>

    </center>

    

    {%endblock%}
</body>
</html>